@mixin fontSize($min:1.5rem , $max:3rem , $change:1rem){
    font-size: clamp($min , calc($change + 1vw) , $max);
}

@mixin textwrap($line:1){
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
@mixin textgrad($from:to bottom , $bg1:rgb(253, 255, 254) , $bg2:rgb(106, 107, 107)){
    background:linear-gradient($from ,$bg1, $bg2) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px rgba(224, 224, 224, 0.2);
  }